body {
    padding-top: 54px;
    background-color: #bebebe;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    -o-background-size: cover; /* Opera */
    -moz-background-size: cover; /* Mozilla */
    -webkit-background-size: cover; /* Chrome */
}

.portfolio-item {
    margin-bottom: 30px;
}

.avatar {
    width: 348px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #343a40;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.small, small {
    font-size: 55%;
    font-weight: 400;
}

.corCarossel {
    color: black;
    
}

.corAutoPeca{
    background-color: #b90e0e;
    
}

.corAutoPeca2{
    background-color: rgba(255, 255, 255, 0.81);
    color: black;
    
}

.colorVoltar{
    background-color: #0062ff;
    color: #ffffff;
    
}

.url{
    width: auto;
}